{% extends 'base.html' %}
{% load i18n %}

{% block extra_js %}
{% endblock %}

{% block content %}
      <div id="content-zone" class="prepend-6 span-12 append-6 last">
        <h2>Contacta'ns</h2>
        <div class="outer">
          <div class="inner">
            <div class="sub">
                {% if messages %}
                <div style="display: block;" class="contact-messages content">
                    <div class="box error">
                        <ul class="no-margin">
                            {% for m in messages %}
                                <li>{{ m }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <hr>
                {% endif %}
                
                <div class="contact-messages content">
                    <p>No dubtis en contactar amb nosaltres! Et respondrem tan aviat com sigui possible</p>
                </div>
                
                {% if form %}
                <form method='post' id="sendEmail" action='./' class="horizontal">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="field">
                        <label for="id_{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>
                            El teu {{ field.label|lower }}:
                        </label>
                        {{ field }}
                        {% if field.errors %}<div class="box error">{{ field.errors }}</div>{% endif %}
                        {% if field.help_text %}<div class="help_text">{{ field.help_text }}</div>{% endif %}
                    </div>
                    {% endfor %}
             
                    <div class="submit-row">
                      <button id="submit" type="submit" class="button" title="Enviar"><span>Envian's el missatge!</span></button>
                      <div id="spam_catcher">
                        <input type="text" value="" name="sp_catcher"/>
                      </div>
                    </div>
                </form> 
                {% endif %}

            </div>
          </div>
        </div>
{% endblock %}
