{% extends 'base_cms.html' %}

{% block "title" %}Afiliació{% endblock %}

{% block "body" %}
    <p>L'afiliació no estarà disponible fins d'aqui a uns dies, doncs el partit s'està registrant ara mateix.</p>
    
    {% if form %}
    <p>Si vols mantenir-te al dia, posa el teu e-mail:</p>
    
    <form method='post' id="sendEmail" action='./' class="horizontal">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            <label for="id_{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>
                El teu {{ field.label|lower }}:
            </label>
            {{ field }}
            {% if field.errors %}<div class="box error">{{ field.errors }}</div>{% endif %}
            {% if field.help_text %}<div class="help_text">{{ field.help_text }}</div>{% endif %}
        </div>
        {% endfor %}
 
        <div class="submit-row">
          <button id="submit" type="submit" class="button" title="Enviar"><span>Envian's el missatge!</span></button>
          <div id="spam_catcher">
            <input type="text" value="" name="sp_catcher"/>
          </div>
        </div>
    </form> 
    {% endif %}    
    
{% endblock %}

