            <li>
                <a href="http://pirata.cat/bloc/" title="Bloc">
<!--                    <img src="/media/img/icons/rss.png" alt="" />    -->
                    <img src="/media/img/icons/wordpress.png" alt="" />    
                    <h4>Bloc</h4>
                    <p>El bloc del Partit Pirata</p>
                </a>
            </li>
            
            <li class="last">
                <a href="http://fon.gs/calendari_pirata/" title="Calendari">
                    <img src="/media/img/icons/calendar.png" alt="" />    
                    <h4>Calendari</h4>
                    <p>Fes una ullada als propers events</p>
                </a>
            </li>
            
            <li>
                <a href="http://twitter.com/partit_pirata" title="Twitter">
                    <img src="/media/img/icons/twitter.png" alt="" />    
                    <h4>Twitter</h4>
                    <p>Segueix el nostre twitter</p>
                </a>
            </li>
            
            <li class="last">
                <a href="https://www.facebook.com/group.php?gid=198182237370" title="Facebook">
                    <img src="/media/img/icons/facebook.png" alt="" />    
                    <h4>Facebook</h4>
                    <p>Uneix-te al nostre grup de Facebook</p>
                </a>
            </li>

            <li>
                <a href="https://xifrat.pirata.cat/gestors/mailman/listinfo/catalunya" title="Llistes de correu">
                    <img src="/media/img/icons/mail.png" alt="" />    
                    <h4>Llistes de correu</h4>
                    <p>Apunta't a les llistes de correu</p>
                </a>
            </li>
            
{% comment %}            
            <li class="last">
                <a href="http://webchat.freenode.net/?channels=partidopirata" title="IRC">
                    <img src="/media/img/icons/irc.png" alt="" />    
                    <h4>IRC</h4>
                    <p>Connecta't al nostre canal de IRC</p>
                </a>
            </li>
            
            <li>
                <a href="http://www.partidopirata.es/wiki/" title="Wiki">
                    <img src="/media/img/icons/wiki.png" alt="" />    
                    <h4>Wiki</h4>
                    <p>Wiki del Partit Pirata</p>
                </a>
            </li>
{% endcomment %}
            
            <li class="last">
{#                <a href="http://www.partidopirata.es/donaciones.php" title="Donacions"> #}
                    <img src="/media/img/icons/money.png" alt="" />    
                    <h4>Donacions</h4>
                    <p>Aqui podràs fer un donatiu</p>
{#                </a> #}
            </li>            
            
