<li>
    <iframe src="http://www.facebook.com/plugins/likebox.php?id=139703722733025&amp;width=420&amp;connections=14&amp;stream=false&amp;header=false&amp;height=260" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:420px; height:240px; background-color:white;" allowTransparency="true"></iframe>
</li>

<li>
    <div class="span-12 col1">
        <div style="height:200px;">
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'search',
              search: '\"partit pirata\" OR @partit_pirata OR pirata.cat',
              interval: 2000,
              title: 'Mencions al Partit Pirata',
              subject: '',
              width: 420,
              height: 380,
              theme: {
                shell: {
                  background: '#8ec1da',
                  color: '#ffffff'
                },
                tweets: {
                  background: '#ffffff',
                  color: '#444444',
                  links: '#1985b5'
                }
              },
              features: {
                scrollbar: true,
                loop: false,
                live: true,
                hashtags: true,
                timestamp: true,
                avatars: true,
                toptweets: true,
                behavior: 'default'
              }
            }).render().start();
            </script>
        </div>
    </div>
</li>
            
