{% extends 'base_cms.html' %}

{% block "title" %}Ideari{% endblock %}

{% block "body" %}
<h4>Drets i llibertats</h4>
<ul>
    <li>Preservar la presumpció d'inocència, la privacitat i la llibertat d'expressió, dintre i fora d'Internet.</li>
    <li>Que la lluita contra la delinqüència i el terrorisme sigui compatible amb els drets i llibertats de la Declaració Universal dels Drets Humans.</li>
    <li>Que les administracions públiques facin ús de software, documentació i formats estàndards oberts, per garantitzar la seguretat i privacitat de tota l'informació sensible dels ciutadans.</li>

<h4>Societat de la Informació</h4>
    <li>Fomentar la societat en xarxa, una major taxa de penetració d'Internet, més banda ampla i connexions simètriques.</li>
    <li>Treballar per a que Internet sigui un mitjà de comunicació tan universal com la ràdio o la televisió avui dia.</li>
    <li>Pretendre que la neutralitat a Internet sigui un requisit d'obligat compliment, ampliant la difusió i l'ús d'aquest medi arreu de tot el territori català (o no català també?), tant en àmbits privats com públics.</li>
    <li>Que tots els serveis d'Internet existents (i els que existiran) siguin accessibles i ofertables sense restriccions ni discriminacions entre uns serveis i altres.</li>
    <li>Govern obert - Administració 2.0: Autentificació centralitzada, unificació de bases de dades, finestreta virtual única, publicació de les eines de l'administració</li>
</ul>

<h4>Cultura i drets d'autor</h4>
<ul>
    <li>La cultura és un be comú, a la qual tenen dret a accedir tots els ciutadans.</li>
    <li>No es considera delictiu el lliure intercanvi, sinó que és una forma justa i eficaç de potenciar la distribució de la cultura.</li>
    <li>Prescindir de terminologia subjecta a confusió com "propietat intel·lectual", ja que pot avantposar interessos econòmics al gaudi de la cultura ciutadana, en comptes d'harmonitzar-los.</li>
    <li>Es rebutjen les fórmules de remuneració compensatòria per còpia privada i un model de gestió de drets d'autor, on aquests obligatòriament han de cedir els seus drets sota condicions perjudicials per als seus interessos.</li>
    <li>Plantejar la necessitat de que l'autor tingui dret a escollir entre autogestionar-se o treballar amb entitats de gestió de drets d'autor.</li>
    <li>Buscar el diàleg entre els diversos col·lectius implicats i la ciutadania, per trobar solucions que resultin satisfactòries per a tothom.</li>
</ul>

<h4>Reforma del sistema de patents</h4>
<ul>
    <li>És objectiu nostre la inexistència de patents de software a l'Ordenament Jurídic.</li>
    <li>Plantejar un model de patents obert al desenvolupament i la innovació, que aprofiti el coneixement existent i fomenti l'evolució de la tecnologia en benefici de la societat, evitant monopolis privats.</li>
    <li>La durada d'una patent ha de ser relativa a la inversió necessària en investigació i desenvolupament, i mai renovable, sinó que, un cop expirada, passi a formar part del domini públic. De la mateixa manera ha d'expirar si no és explotada.</li>
    <li>Oposició a possibles patents d'organismes vius.</li>
</ul>

<h4>Democràcia Directa</h4>
<ul>
    <li>Estem a favor de la participació activa i democràtica dels ciutadans sobre les decisions polítiques que els afectaran.</li>
    <li>Som conscients de la igualtat de drets i obligacions de tots els ciutadans i confiem en la seva pròpia capacitat de decissió.</li>
    <li>Creiem que s'hauria de treure més profit dels avenços tecnològics. Internet és una eina que s'hauria d'utilitzar per aprofundir més en una democràcia real, on la nostra votació com a ciutadans s'empri en quelcom més que escollir un cop cada 4 anys qui serà el representant que decidirà per nosaltres.</li>
</ul>

{% endblock %}

