<li>
    <a href="http://www.partido-pirata.com.ar">
        <img src="/media/img/flags/ar.gif" alt="">
        <p>Argentina</p>
    </a>
</li>
<li>
    <a href="http://www.pirateparty.org.au">
        <img src="/media/img/flags/au.gif" alt="">
        <p>Australia</p>
    </a>
</li>
<li>
    <a href="http://www.piratenpartei.at">
        <img src="/media/img/flags/at.gif" alt="">
        <p>Austria</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.be/">
        <img src="/media/img/flags/be.gif" alt="">
        <p>Belgium</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=60">
        <img src="/media/img/flags/ba.gif" alt="">
        <p>Bosnia/Herzegovina</p>
    </a>
</li>
<li>
    <a href="http://www.partidopirata.org">
        <img src="/media/img/flags/br.gif" alt="">
        <p>Brazil</p>
    </a>
</li>
<li>
    <a href="http://piratskapartia.bg/">
        <img src="/media/img/flags/bg.gif" alt="">
        <p>Bulgaria</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.ca/">
        <img src="/media/img/flags/ca.gif" alt="">
        <p>Canada</p>
    </a>
</li>
<li>
    <a href="http://www.partidopirata.cl/">
        <img src="/media/img/flags/cl.gif" alt="">
        <p>Chile</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=63">
        <img src="/media/img/flags/cn.gif" alt="">
        <p>China</p>
    </a>
</li>
<li>
    <a href="http://www.piratepartycyprus.com/">
        <img src="/media/img/flags/cy.gif" alt="">
        <p>Cyprus</p>
    </a>
</li>
<li>
    <a href="http://www.ceskapiratskastrana.cz/">
        <img src="/media/img/flags/cz.gif" alt="">
        <p>Czech Republic</p>
    </a>
</li>
<li>
    <a href="http://www.piratpartiet.dk">
        <img src="/media/img/flags/dk.gif" alt="">
        <p>Denmark</p>
    </a>
</li>
<li>
    <a href="http://piraadipartei.ee/">
        <img src="/media/img/flags/ee.gif" alt="">
        <p>Estonia</p>
    </a>
</li>
<li>
    <a href="http://www.piraattipuolue.fi">
        <img src="/media/img/flags/fi.gif" alt="">
        <p>Finland</p>
    </a>
</li>
<li>
    <a href="http://www.partipirate.org">
        <img src="/media/img/flags/fr.gif" alt="">
        <p>France</p>
    </a>
</li>
<li>
    <a href="http://piratenpartei.de">
        <img src="/media/img/flags/de.gif" alt="">
        <p>Germany</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=56">
        <img src="/media/img/flags/gr.gif" alt="">
        <p>Greece</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=66">
        <img src="/media/img/flags/gt.gif" alt="">
        <p>Guatemala</p>
    </a>
</li>
<li>
    <a href="http://www.piratepartyireland.com">
        <img src="/media/img/flags/ie.gif" alt="">
        <p>Ireland</p>
    </a>
</li>
<li>
    <a href="http://www.partito-pirata.it">
        <img src="/media/img/flags/it.gif" alt="">
        <p>Italy</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.kz/">
        <img src="/media/img/flags/kz.gif" alt="">
        <p>Kazakhstan</p>
    </a>
</li>
<li>
    <a href="http://piratupartija.lv/">
        <img src="/media/img/flags/lv.gif" alt="">
        <p>Latvia</p>
    </a>
</li>
<li>
    <a href="http://piratupartija.lt/">
        <img src="/media/img/flags/lt.gif" alt="">
        <p>Lithuania</p>
    </a>
</li>
<li>
    <a href="http://www.piratepartei.lu">
        <img src="/media/img/flags/lu.gif" alt="">
        <p>Luxembourg</p>
    </a>
</li>
<li>
    <a href="http://partidopiratamexicano.org/">
        <img src="/media/img/flags/mx.gif" alt="">
        <p>Mexico</p>
    </a>
</li>
<li>
    <a href="http://piratenpartij.nl">
        <img src="/media/img/flags/nl.gif" alt="">
        <p>Netherlands</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.co.nz/">
        <img src="/media/img/flags/nz.gif" alt="">
        <p>New Zealand</p>
    </a>
</li>
<li>
    <a href="http://www.piratpartiet.biz">
        <img src="/media/img/flags/no.gif" alt="">
        <p>Norway</p>
    </a>
</li>
<li>
    <a href="http://wiki.freeculture.org/Pirata">
        <img src="/media/img/flags/pe.gif" alt="">
        <p>Peru</p>
    </a>
</li>
<li>
    <a href="http://www.partiapiratow.org.pl">
        <img src="/media/img/flags/pl.gif" alt="">
        <p>Poland</p>
    </a>
</li>
<li>
    <a href="http://partidopiratapt.eu">
        <img src="/media/img/flags/pt.gif" alt="">
        <p>Portugal</p>
    </a>
</li>
<li>
    <a href="http://www.partidulpiratilor.ro/">
        <img src="/media/img/flags/ro.gif" alt="">
        <p>Romania</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.ru/">
        <img src="/media/img/flags/ru.gif" alt="">
        <p>Russia</p>
    </a>
</li>
<li>
    <a href="http://piratskapartija.com">
        <img src="/media/img/flags/cs.gif" alt="">
        <p>Serbia</p>
    </a>
</li>
<li>
    <a href="http://www.piratskastrana.sk/">
        <img src="/media/img/flags/sk.gif" alt="">
        <p>Slovakia</p>
    </a>
</li>
<li>
    <a href="http://www.piratskastranka.net/">
        <img src="/media/img/flags/si.gif" alt="">
        <p>Slovenia</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=38">
        <img src="/media/img/flags/za.gif" alt="">
        <p>South Africa</p>
    </a>
</li>
<li>
    <a href="http://www.partidopirata.es">
        <img src="/media/img/flags/es.gif" alt="">
        <p>Spain</p>
    </a>
</li>
<li>
    <a href="http://www.piratpartiet.se">
        <img src="/media/img/flags/se.gif" alt="">
        <p>Sweden</p>
    </a>
</li>
<li>
    <a href="http://www.piraten-partei.ch">
        <img src="/media/img/flags/ch.gif" alt="">
        <p>Switzerland</p>
    </a>
</li>
<li>
    <a href="http://korsanpartisi.org">
        <img src="/media/img/flags/tr.gif" alt="">
        <p>Turkey</p>
    </a>
</li>
<li>
    <a href="http://www.pirateparty.org.ua/">
        <img src="/media/img/flags/ua.gif" alt="">
        <p>Ukraine</p>
    </a>
</li>
<li>
    <a href="http://www.pirateparty.org.uk">
        <img src="/media/img/flags/gb.gif" alt="">
        <p>United Kingdom</p>
    </a>
</li>
<li>
    <a href="http://www.pirate-party.us">
        <img src="/media/img/flags/us.gif" alt="">
        <p>United States</p>
    </a>
</li>
<li>
    <a href="http://partidopirata.org.uy/">
        <img src="/media/img/flags/uy.gif" alt="">
        <p>Uruguay</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/">
    <img src="/media/img/flags/int.png" alt="">
    <p><b>International</b></p>
    </a>
</li> 
