              <li> 
                <img src="/media/img/icons/pirata.png" alt="" />    
                <p>Som un grup de persones que a l'Agost del 2010 van fundar un partit per defensar el drets civils, la societat de la informació i el coneixement, i el dret a decidir-ho tot.</p>
              </li>
              <li> 
                <img src="/media/img/icons/pirata.png" alt="" />    
                <p>El Partit Pirata de Catalunya pertany a la xarxa internacional de partits pirata d'arreu del món, amb els qui compartim el gruix dels nostres ideals i amb els qui col·laborem en tot allò que sigui adient.</p>
              </li>



     
