<li>
    <a href="http://piratenpartei.de">
        <img src="/media/img/flags/de.gif" alt="">
        <p>Alemanya</p>
    </a>
</li>
<li>
    <a href="http://www.partido-pirata.com.ar">
        <img src="/media/img/flags/ar.gif" alt="">
        <p>Argentina</p>
    </a>
</li>
<li>
    <a href="http://www.pirateparty.org.au">
        <img src="/media/img/flags/au.gif" alt="">
        <p>Austràlia</p>
    </a>
</li>
<li>
    <a href="http://www.piratenpartei.at">
        <img src="/media/img/flags/at.gif" alt="">
        <p>Àustria</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.be/">
        <img src="/media/img/flags/be.gif" alt="">
        <p>Bèlgica</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=60">
        <img src="/media/img/flags/ba.gif" alt="">
        <p>Bòsnia/Herzegovina</p>
    </a>
</li>
<li>
    <a href="http://www.partidopirata.org">
        <img src="/media/img/flags/br.gif" alt="">
        <p>Brasil</p>
    </a>
</li>
<li>
    <a href="http://piratskapartia.bg/">
        <img src="/media/img/flags/bg.gif" alt="">
        <p>Bulgària</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.ca/">
        <img src="/media/img/flags/ca.gif" alt="">
        <p>Canadà</p>
    </a>
</li>
<li>
    <a href="http://www.piratpartiet.dk">
        <img src="/media/img/flags/dk.gif" alt="">
        <p>Dinamarca</p>
    </a>
</li>
<li>
    <a href="http://www.piratskastrana.sk/">
        <img src="/media/img/flags/sk.gif" alt="">
        <p>Eslovàquia</p>
    </a>
</li>
<li>
    <a href="http://www.piratskastranka.net/">
        <img src="/media/img/flags/si.gif" alt="">
        <p>Eslovènia</p>
    </a>
</li>
<li>
    <a href="http://www.partidopirata.es">
        <img src="/media/img/flags/es.gif" alt="">
        <p>Espanya</p>
    </a>
</li>
<li>
    <a href="http://www.pirate-party.us">
        <img src="/media/img/flags/us.gif" alt="">
        <p>Estats Units</p>
    </a>
</li>
<li>
    <a href="http://piraadipartei.ee/">
        <img src="/media/img/flags/ee.gif" alt="">
        <p>Estònia</p>
    </a>
</li>
<li>
    <a href="http://www.piraattipuolue.fi">
        <img src="/media/img/flags/fi.gif" alt="">
        <p>Finlàndia</p>
    </a>
</li>
<li>
    <a href="http://www.partipirate.org">
        <img src="/media/img/flags/fr.gif" alt="">
        <p>França</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=56">
        <img src="/media/img/flags/gr.gif" alt="">
        <p>Grècia</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=66">
        <img src="/media/img/flags/gt.gif" alt="">
        <p>Guatemala</p>
    </a>
</li>
<li>
    <a href="http://www.piratepartyireland.com">
        <img src="/media/img/flags/ie.gif" alt="">
        <p>Irlanda</p>
    </a>
</li>
<li>
    <a href="http://www.partito-pirata.it">
        <img src="/media/img/flags/it.gif" alt="">
        <p>Itàlia</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.kz/">
        <img src="/media/img/flags/kz.gif" alt="">
        <p>Kazakhstan</p>
    </a>
</li>
<li>
    <a href="http://piratupartija.lv/">
        <img src="/media/img/flags/lv.gif" alt="">
        <p>Letònia</p>
    </a>
</li>
<li>
    <a href="http://piratupartija.lt/">
        <img src="/media/img/flags/lt.gif" alt="">
        <p>Lituània</p>
    </a>
</li>
<li>
    <a href="http://www.piratepartei.lu">
        <img src="/media/img/flags/lu.gif" alt="">
        <p>Luxemburg</p>
    </a>
</li>
<li>
    <a href="http://partidopiratamexicano.org/">
        <img src="/media/img/flags/mx.gif" alt="">
        <p>Mèxic</p>
    </a>
</li>
<li>
    <a href="http://www.piratpartiet.biz">
        <img src="/media/img/flags/no.gif" alt="">
        <p>Noruega</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.co.nz/">
        <img src="/media/img/flags/nz.gif" alt="">
        <p>Nova Zelanda</p>
    </a>
</li>
<li>
    <a href="http://piratenpartij.nl">
        <img src="/media/img/flags/nl.gif" alt="">
        <p>Països Baixos</p>
    </a>
</li>
<li>
    <a href="http://wiki.freeculture.org/Pirata">
        <img src="/media/img/flags/pe.gif" alt="">
        <p>Perú</p>
    </a>
</li>
<li>
    <a href="http://www.partiapiratow.org.pl">
        <img src="/media/img/flags/pl.gif" alt="">
        <p>Polònia</p>
    </a>
</li>
<li>
    <a href="http://partidopiratapt.eu">
        <img src="/media/img/flags/pt.gif" alt="">
        <p>Portugal</p>
    </a>
</li>
<li>
    <a href="http://www.pirateparty.org.uk">
        <img src="/media/img/flags/gb.gif" alt="">
        <p>Regne Unit</p>
    </a>
</li>
<li>
    <a href="http://www.ceskapiratskastrana.cz/">
        <img src="/media/img/flags/cz.gif" alt="">
        <p>República Txeca</p>
    </a>
</li>
<li>
    <a href="http://www.partidulpiratilor.ro/">
        <img src="/media/img/flags/ro.gif" alt="">
        <p>Romania</p>
    </a>
</li>
<li>
    <a href="http://pirateparty.ru/">
        <img src="/media/img/flags/ru.gif" alt="">
        <p>Rússia</p>
    </a>
</li>
<li>
    <a href="http://piratskapartija.com">
        <img src="/media/img/flags/cs.gif" alt="">
        <p>Sèrbia</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=38">
        <img src="/media/img/flags/za.gif" alt="">
        <p>Sudàfrica</p>
    </a>
</li>
<li>
    <a href="http://www.piratpartiet.se">
        <img src="/media/img/flags/se.gif" alt="">
        <p>Suècia</p>
    </a>
</li>
<li>
    <a href="http://www.piraten-partei.ch">
        <img src="/media/img/flags/ch.gif" alt="">
        <p>Suïssa</p>
    </a>
</li>
<li>
    <a href="http://korsanpartisi.org">
        <img src="/media/img/flags/tr.gif" alt="">
        <p>Turquia</p>
    </a>
</li>
<li>
    <a href="http://www.pirateparty.org.ua/">
        <img src="/media/img/flags/ua.gif" alt="">
        <p>Ucraïna</p>
    </a>
</li>
<li>
    <a href="http://partidopirata.org.uy/">
        <img src="/media/img/flags/uy.gif" alt="">
        <p>Uruguai</p>
    </a>
</li>
<li>
    <a href="http://www.partidopirata.cl/">
        <img src="/media/img/flags/cl.gif" alt="">
        <p>Xile</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/forum/viewforum.php?f=63">
        <img src="/media/img/flags/cn.gif" alt="">
        <p>Xina</p>
    </a>
</li>
<li>
    <a href="http://www.piratepartycyprus.com/">
        <img src="/media/img/flags/cy.gif" alt="">
        <p>Xipre</p>
    </a>
</li>
<li>
    <a href="http://www.pp-international.net/">
        <img src="/media/img/flags/int.png" alt="">
        <p><b>Internacional</b></p>
    </a>
</li>
