{% extends 'base.html' %}

{% block extra_js %}
<script type="text/javascript" src="/media/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/media/js/contact.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('HTML').addClass('JS');
});
</script>
{% endblock %}

{% block content %}
      <div id="content-zone" class="prepend-6 span-12 append-6 last">
        <h2>Contacta'ns</h2>
        <div class="outer">
          <div class="inner">
            <div class="sub">
                <div class="contact-messages content">
                    <p>No dubtis en contactar amb nosaltres! Et respondrem tan aviat com sigui possible</p>
                </div>
                <hr/>
              <form action="contact.php" method="post" id="sendEmail" class="horizontal">
                <!-- ================= put your email address here ================ -->

                <input type="hidden" id="mailTo" name="mailTo" value="your_name_here@your_domain.com" />
                <!-- ======== you will receive messages with this subject ========= -->
                <input type="hidden" id="subject" name="subject" value="Steelfolio Message" />
                <!-- ============================================================== -->
                <input type="hidden" name="submitted" value="1" />
                <div class="field">
                  <label for="name">El teu nom</label>
                  <input name="name" id="name" value="" type="text"/>

                </div>
                <div class="field">
                  <label for="mail">El teu email</label>
                  <input name="email" id="mail" value="" type="text"/>
                </div>
                <div class="field">
                  <label for="message">El teu missatge	</label>
                  <textarea name="message" id="message" cols="30" rows="5"></textarea>

                </div>
                <div class="submit-row">
                  <button id="submit" type="submit" class="button" title="Enviar"><span>Envian's el missatge!</span></button>
                  <div id="spam_catcher">
                    <input type="text" value="" name="sp_catcher"/>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
{% endblock %}
