            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Drets Civils</h4>
                <p>Drets humans. Especialment: privacitat, llibertat d'expressió, pressumpció d'innocència. Dret a connectar-se a internet. <a href="/ideari" title="">Llegir més...</a></p>
                </p>
            </li>

            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Societat de la informació i coneixement</h4>
                <p>Accés a la cultura (reducció del copyright), coneixement (reforma del sistema de patents) i informació (estàndards oberts). <a href="/ideari" title="">Llegir més...</a></p>
                </p>
            </li>
            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Dret a decidir-ho tot</h4>
                <p>Democràcia directa. Open government. Transparència. <a href="/ideari" title="">Llegir més...</a></p>
                </p>
            </li>

{% comment %}
            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Drets i Lllibertats</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <a href="#" title="">Llegir més...</a>
                </p>
            </li>
            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Societat de la Informació</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <a href="#" title="">Llegir més...</a>
                </p>
            </li>
            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Cultura i Drets d'Autor</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <a href="#" title="">Llegir més...</a>
                </p>
            </li>
            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Reforma del sistema de Patents</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <a href="#" title="">Llegir més...</a>
                </p>
            </li>   
            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Transparència a les Administracions Públiques</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <a href="#" title="">Llegir més...</a>
                </p>
            </li>        
            <li>
                <img src="/media/img/icons/pirata.png" alt="" />    
                <h4>Democràcia Directa</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <a href="#" title="">Llegir més...</a>
                </p>
            </li>         
{% endcomment %}
