<li>
    <iframe src="http://www.facebook.com/plugins/likebox.php?id=139703722733025&amp;width=420&amp;connections=14&amp;stream=false&amp;header=false&amp;height=260" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:420px; height:240px; background-color:white;" allowTransparency="true"></iframe>
</li>

<li>
    <div style="height:50px;">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: '\"partit pirata\" OR @partit_pirata OR pirata.cat',
          interval: 1500,
          title: 'Mencions al Partit Pirata',
          subject: '',
          width: 420,
          height: 350,
          theme: {
            shell: {
              background: '#212121',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#444444',
              links: '#1985b5'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: true,
            toptweets: true,
            behavior: 'default'
          }
        }).render().start();
        </script>
    </div>
</li>
            
