{% extends 'base_cms.html' %}

{% block "title" %}Trobades setmanals{% endblock %}

{% block "body" %}
    <p>Els pirates catalans fem una trobada setmanal a Barcelona. Intentem fer-la sempre al mateix dia, hora i lloc.</p>
    <ul><li>Si hi ha gent nova, expliquem la nostra filosofia i resolem els dubtes que pugin haver</li><li>En cas contrari, ens posem mans a la feina i planegem quines accions durem a terme durant la setmana següent</li><li>En qualsevol dels casos, fem unes cerveses i debatim sobre els temes d'actualitat</li></ul>
    <p>Apunta't al nostre grup de Facebook, <a href="https://www.facebook.com/group.php?gid=198182237370">Partit Pirata Catalunya</a>, per tal d'estar informat de les properes trobades.</p>
    <p>També pots seguir el nostre <a href="http://fon.gs/calendari_pirata/">calendari pirata</a>.</p>
    <p>Si vols participar, resoldre algun dubte, proposar accions, o simplement xerrar una estona i conèixer gent nova, ets benvingut. I recorda que pots dur tants amics com vulguis!</p>
{% endblock %}

